.best__seller {
  margin: 0 auto;
  margin-top: 320px;
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #22262a;
    text-align: center;
  }
  ul {
    width: 800px;
    height: 33px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 26px;
    .color{
      color: #33a0ff;
    }
    li {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 33px;
      color: #22262a;
      cursor: pointer;
    }
  }
}