.input__group {
  width: 1500px;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 507px;
    height: 62px;
    padding-left: 20px;

    border: 2px solid #33a0ff;
    border-radius: 5px 0 0 5px;
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    opacity: 0.35;
  }
  button {
    width: 127px;
    height: 62px;

    border-radius: 0 5px 5px 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    border: 1px solid #40BFFF;
    background-color:#40BFFF;
  }
}
